<ion-header>
  <ion-toolbar>
    <ion-title>
      ホーム
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>最新情報</ion-card-title>
        <ion-card-subtitle>あなたの現在いる国</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-searchbar animated></ion-searchbar>
        <ion-list *ngFor="let news of News |slice: 0:5">
          <ion-item href="">
            <ion-label>{{news.title}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list lines="none">
          <ion-item ><a href="" style="text-decoration:none;">もっと見る</a></ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      
    </ion-list>
</ion-content>
