<ion-header>
  <ion-toolbar>
    <ion-title>
      世界中の危険状況
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map">
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="primary" (click)="onButtonClick()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab  vertical="bottom" horizontal="start"  style="z-index:2000">
      <ion-fab-button color="danger" (click)="closeWindow()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-fab-button> 
  </ion-fab>
  </div>
</ion-content>