<ion-header>
  <ion-toolbar>
    <ion-title>
      世界中の危険状況
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map">
    <ion-fab vertical="center" horizontal="end">
      <ion-fab-button (click)="showModal()">
        <ion-icon name="information"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="primary" (click)="onButtonClick()">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card class="CountryInfo">
      <ion-card-header primary>
        <ion-card-title>国名:{{Country}}</ion-card-title>
        <ion-card-subtitle>危険レベル:{{Level}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>ニュース</ion-card-title>
        <ion-text>{{Info}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>