#map {
    height: 100%;
    width: 100%;
};
.infomation {
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rbga(0, 0, 0, 0.2);
    border-radius: 5px; 
    h4 {
        margin: 0 0 5px;
        color: '#777';
    };
}
